

.admin-products-all-sneakers-page {
    margin-top: 9rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 5rem;
}

.admin-products-all-sneakers-body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sneaker-card-data > h4 {
    font-size: 0.9rem;
}