
 
.admin-users-page {
    margin-top: 9rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 5rem;
}

.admin-users-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid grey;
    width: 20vw;
    height: 100%;
    align-content: flex-start;
}

/* .user-object {
 height: 22vh;
} */

.admin-users-page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 5rem;
}

/* Single user page styles */

.single-user-page {
    margin-top: 9rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 5rem;
}

.username-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-user-body {
    width: 65vw;
}

.margin-fix {
    margin-top: 0;
}

.product-card-fix {
    margin-bottom: 0.5rem;
}

.orders-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.orders-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.delete-modal {
    margin-top: 2rem;
    height: 20vh;
    text-align: center;
}

.delete-button {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 6.9rem;
}